{% load i18n %}
{% trans "You're receiving this e-mail because you requested a password reset" %}
{% blocktrans %}for your user account at the {{ site_name }} website{% endblocktrans %}.

{% trans "Your username:" %} {{ user.username }}
{% blocktrans %}Your new password: {{ new_password }}{% endblocktrans %}

{% trans "Feel free to change this password by going to:" %}
http://{{ domain }}accounts/password/change/

If you didn't request to reset your password, please contact an administrator.
{% trans "Thank you" %}
